[workspace]
members = [
    "gotham",
    "gotham_derive",

    "middleware/template",
    "middleware/diesel",

    "misc/borrow_bag",

    "examples/hello_world",
    "examples/hello_router",
    "examples/basic_router",
    "examples/basic_into_response",
]
