[package]
name = "gotham"
version = "0.3.0-dev" # Alter html_root_url in lib.rs also
authors = ["Shaun Mangelsdorf <s.mangelsdorf@gmail.com>",
           "Bradley Beddoes <bradleybeddoes@gmail.com>"]
description = "A flexible web framework that promotes stability, safety, security and speed."
license = "MIT/Apache-2.0"
homepage = "https://gotham.rs"
repository = "https://github.com/gotham-rs/gotham"
readme = "README.md"
categories = ["web-programming::http-server"]
keywords = ["http", "async", "web", "framework", "blockchain"]

[dependencies]
log = "0.4"
hyper = "0.12"
serde = "1.0"
serde_derive = "1.0"
bincode = "1.0"
mime = "0.3"
futures = "0.1"
futures-timer = "0.1"
tokio = "0.1"
tokio-core = "0.1"
mio = "0.6"
borrow-bag = "1.0"
url = "1.7"
uuid = { version = "0.6", features = ["v4"] }
chrono = "0.4"
base64 = "0.9"
rand = "0.5"
linked-hash-map = "0.5"
num_cpus = "1.8"
crossbeam = "0.3"
regex = "1.0"
cookie = "0.10"
http = "0.1"
failure = "0.1"
failure_derive = "0.1"


[dev-dependencies]
gotham_derive = { path = "../gotham_derive" }
pretty_env_logger = "0.2"
timebomb = "0.1"

[badges]
travis-ci = { repository = "gotham-rs/gotham", branch = "master" }
