[package]
name = "gotham"
version = "0.3.0-dev" # Alter html_root_url in lib.rs also
authors = ["Shaun Mangelsdorf <s.mangelsdorf@gmail.com>",
           "Bradley Beddoes <bradleybeddoes@gmail.com>"]
description = "A flexible web framework that promotes stability, safety, security and speed."
license = "MIT/Apache-2.0"
homepage = "https://gotham.rs"
repository = "https://github.com/gotham-rs/gotham"
readme = "README.md"
categories = ["web-programming::http-server"]
keywords = ["http", "async", "web", "framework", "blockchain"]

[dependencies]
log = "0.4.1"
hyper = { version = "0.11.25", features = [] }
serde = "1"
serde_derive = "1"
bincode = "1"
mime = "0.3"
futures = "0.1"
futures-timer = "0.1.0"
tokio = "0.1.5"
mio = "0.6"
borrow-bag = "1"
url = "1"
uuid = { version = "0.6", features = ["v4"] }
chrono = "0.4"
base64 = "0.9"
rand = "0.4"
linked-hash-map = "0.5"
crossbeam = "0.3"
regex = "1.0"

[dev-dependencies]
gotham_derive = { path = "../gotham_derive" }

[badges]
travis-ci = { repository = "gotham-rs/gotham", branch = "master" }
