[package]
name = "gotham_examples_shared_state"
description = "An introduction to shared state across Gotham handlers"
version = "0.0.0"
publish = false
edition = "2018"

[dependencies]
gotham = { path = "../../gotham" }
